# Ignore files for distribution archives.

/.circleci       export-ignore
/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.github         export-ignore
/.gitignore      export-ignore
/box.json        export-ignore
/tests           export-ignore
/phpcs.xml       export-ignore
/phpmd.xml       export-ignore
/phpstan.neon    export-ignore
/phpunit.xml     export-ignore
